body{
  font-family: Helvetica;
}
h1 {
  text-align: center;

}
.buttons{
  display: inline-block;
  margin-right: 5px;
}
section {
  display: inline;
}
#textColor {
  display: inline;
  top: 15px;
}
aside {
  display: block;
  right: 15px;
  position: absolute;
  max-width: 45%;
}
p {
  font-size: medium;
  line-height: 25px;
}
#sans-serif {
  font-family: sans-serif;
}
#arial{
  font-family: Arial;
}