body{
    font-family: sans-serif;
}

p, h1{
    text-align: center;
}
li{
    list-style: none;
    text-align: center;
}
a{text-decoration: none;
}
ul:visited{
    font-family: georgia;
    background-color: crimson;
}

a:visited{
    font-family:Georgia;
    background-color: crimson;
    color: crimson;
    
}

ul:hover{
    background-color: cornflowerblue;
}
